@import "src/assets/styles/_vars";
// @import "src/assets/styles/_typography";

.navmenu {
  position: relative;
  height: 100vh;
  background-color: $background_clr;

  .navlink-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 20%);
    padding: $padding-side;

    .navlink {
      $line-height: 3px;
      $line-length: 40px;
      position: relative;
      font-size: $fs-headline1;
      font-weight: $fw-black;
      font-family: $secondary_font;
      padding: 20px 30px;
      width: clamp(220px, 100%, 1000px);
      text-align: center;
      cursor: pointer;

      a {
        text-decoration: none;
        color: $primary_clr;
      }

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: $line-length;
        width: $line-height;
        background-color: $primary_clr;
        transition: height $onHover $delay;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: $line-height;
        width: $line-length;
        background-color: $primary_clr;
        animation: underline-backward $onHover ease-out forwards;
      }

      &:focus {
        border: 3px solid $primary_clr !important;
      }

      &:hover {
        &:before {
          height: 0;
        }

        &:after {
          animation: underline-forward $onHover $delay ease-in forwards;
        }

        @keyframes underline-forward {
          0% {
            width: $line-length;
          }
          50% {
            width: 100%;
          }
          100% {
            width: 225px;
            right: 0;
            left: unset;
          }
        }

        @keyframes underline-backward {
          100% {
            width: $line-length;
          }
          50% {
            width: 100%;
          }
          0% {
            width: 225px;
            right: 0;
            left: unset;
          }
        }
      }
    }
  }

  .footer-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    display: flex;
    align-items: flex-end;
    transition: all 225ms;

    @media (max-width: 630px) {
      height: 45%;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $primary_clr;
      clip-path: polygon(0 0, 100% 45%, 100% 100%, 0% 100%);
      z-index: 2;
    }

    .content {
      position: relative;
      z-index: 3;
      width: 100%;
      padding: $padding-side;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      color: $background_clr;

      .left-side,
      .right-side {
        display: flex;
        padding-bottom: 50px;
      }

      .left-side {
        flex-direction: column;

        h1,
        span {
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 630px) {
  .navlink-container {
    font-size: $fs-headline3 !important;
  }

  .content {
    flex-direction: column;
    align-items: flex-start !important;

    .left-side,
    .right-side {
      padding-bottom: 25px !important;
    }

    .right-side {
      align-self: flex-end;
    }
  }
}

@media (max-width: 320px) and (min-width: 50px) {
  .navlink {
    font-size: $fs-headline4 !important;
  }
}
