@import "src/assets/styles/_button";
@import "src/assets/styles/_vars";

.container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 10%;
  padding: 110px 0;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;

    .text-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        text-align: justify;
        margin-bottom: 50px;
      }

      a {
        display: contents;
        text-decoration: none;
      }
    }
  }

  .img-container {
    transition: all 225ms ease-in-out;
    position: relative;

    $img-size: clamp(300px, 30vw, 500px);
    $aspect-ratio: 1;

    .img-wrapper {
      aspect-ratio: $aspect-ratio;
      overflow: hidden;
      box-shadow: $boxshadow;

      img {
        width: $img-size;
        aspect-ratio: $aspect-ratio;
        object-fit: cover;
        object-position: top;
      }
    }

    .frame {
      $offset: 10px;
      position: absolute;
      top: $offset;
      left: $offset;
      width: $img-size;
      aspect-ratio: $aspect-ratio;
      border: $frame;
      opacity: 0;

      &:hover {
        opacity: 1;
        transition: opacity 225ms ease-in-out;
      }
    }
  }
}

@media (max-width: 875px) {
  .wrapper {
    flex-direction: column;

    button {
      display: none;
    }

    .img-container {
      $img-size: clamp(225px, 100%, 875px);

      .img-wrapper {
        img {
          width: $img-size;
          margin-bottom: 50px;
        }
      }

      .frame {
        width: $img-size;
      }
    }
  }
}

@media (max-width: 450px) {
  .img-container {
    $aspect-ratio: 0.8;

    .img-wrapper {
      aspect-ratio: $aspect-ratio !important;

      img {
        aspect-ratio: $aspect-ratio !important;
      }
    }

    .frame {
      aspect-ratio: $aspect-ratio !important;
    }
  }
}
