<div class="container">
  <div class="left-side">
    <a href="#">
      <!-- TODO: paste logo img src -->
      <img src="" alt="logo white" />
    </a>
    <div>
      <span>&copy; Lukas Erdmanski 2024</span>
    </div>
  </div>

  <div class="right-side">
    <!-- TODO: delete later after implemented socials component -->
    <div class="socials">
      <div>Github<br />Logo</div>
      <div>Contact<br />Image</div>
      <div>LinkedIn<br />Logo</div>
    </div>

    <div class="legalNotice">
      <!-- TODO: add router gLink here AND in routes in app.module.ts -->
      <!-- TODO: translate -->
      <!-- TODO: add scrolling to start onClick event when it routes to legal notice -->
      <a routerLink="/legal-notice">Legal notice</a>
    </div>
  </div>
</div>
