<div class="container">
  <h1 data-text="About me" translate>About me</h1>
  <div class="wrapper">
    <div class="text-container">
      <p translate>
        Hello, I am Lukas. A Clean Code enthusiast, mechanical engineer with 8
        years of experience in the energy and chemical industry, and a
        passionate soccer player as well as music producer and DJ. I earned my
        academic degree, Master of Science in Mechanical Engineering (M.Sc.)
        from Ruhr University in Bochum. As a frontend and backend developer, I
        have been working in the IT department of a chemical park in Germany for
        2 years. Through an internal transfer from the engineering department,
        where I worked on brownfield and greenfield projects in the triple-digit
        million range, I have gained extensive experience in teamwork, project
        management, leadership, and IT as well as CAD database tasks.
        <br />
        <br />
        During my intensive training as a frontend and backend developer, I
        deepened my knowledge in these technologies and specialized in the
        development of web apps and APIs. In the process, I gained a lot of
        experience and always received positive feedback from experienced
        mentors. I was able to quickly learn various technologies and was always
        looking for new challenges to further develop myself. I am a very
        structured and analytical thinker and can solve complex tasks quickly
        and effectively. I have demonstrated this during training in various
        projects both in teams and independently, and I have also gained
        important experience in collaboration and project management. Therefore,
        I am used to taking responsibility and working carefully.
        <br />
        <br />
        I am a native speaker of German and Polish and have proficient English
        skills for the workplace.
        <br />
        <br />
        I look forward to working on many exciting projects in the future.
      </p>

      <a href="#contact">
        <button class="btn btn-black" translate>Let's talk</button>
      </a>
    </div>

    <div class="img-container">
      <div class="img-wrapper">
        <img src="assets/img/2photoOfMe.png" alt="photo of me" />
      </div>
      <div class="frame"></div>
    </div>
  </div>
</div>
