<div class="container" id="aboutMe">
  <!-- TODO: translate -->
  <h1>About me</h1>
  <div class="wrapper">
    <div class="text-container">
      <!-- TODO: translate -->
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum,
        architecto ullam! Sint similique ipsam saepe enim, quasi assumenda
        cumque quaerat dicta eos accusamus explicabo, consequuntur ipsum itaque
        odio. Possimus, iusto. Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Nostrum, architecto ullam! Sint similique ipsam saepe
        enim, quasi assumenda cumque quaerat dicta eos accusamus explicabo,
        consequuntur ipsum itaque odio. Possimus, iusto. Lorem, ipsum dolor sit
        amet consectetur adipisicing elit. Nostrum, architecto ullam! Sint
        similique ipsam saepe enim.
        <br />
        <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse vitae
        adipisci eos quaerat mollitia dicta quasi autem possimus alias
        dignissimos nisi iste similique cupiditate a, neque, minima sequi
        consequuntur porro. Lorem, ipsum dolor sit amet consectetur adipisicing
        elit.
        <br />
        <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      <!-- TODO: translate -->
      <button class="btn btn-black" (click)="moveToSection('contact')">
        Let's talk
      </button>
    </div>

    <div class="img-container">
      <div class="img-wrapper">
        <img src="assets/img/2photoOfMe.png" alt="photo of me" />

        <!-- TODOÖ delete later -->
        <!-- <div class="img">
          <div>
            PLACEHOLDER <br /><br />FOR PHOTO OF ME <br /><br />
            DELETE LATER <br /><br />AFTER PASTING THE RIGHT PHOTO
          </div>
        </div> -->

        <div class="frame"></div>
      </div>
    </div>
  </div>
</div>
