<div class="container">
  <div class="wrapper">
    <div>
      <p [@slideInRight] class="headline">Frontend</p>
      <!-- TODO: translate delevoper to german -->
      <p [@slideInLeft] class="headline">Developer</p>
      <div [@popUp] class="subtitle">
        <div class="horizontal-line"></div>
        <span class="my-name">Lukas Erdmanski</span>
      </div>
    </div>
    <!-- TODO: translate send a message to german -->
    <button
      class="btn btn-black mobile-btn"
      (click)="scrollSectionToTop('contact')"
    >
      Send a message
    </button>
  </div>
  <div class="socials">
    <div [@slideInBottom] class="email">
      <a href="#contact">lukas.erdmanski&#64;yahoo.com</a>
    </div>
    <a href="#about-me" class="call2action">
      <div class="img-container">
        <img src="assets/img/arrow.svg" alt="arrow" />
      </div>
      <div [@fadeIn] class="text-container">
        <div>
          <span>S</span>
          <span>c</span>
          <span>r</span>
          <span>o</span>
          <span>l</span>
          <span>l</span>
        </div>
        <div>
          <span>D</span>
          <span>o</span>
          <span>w</span>
          <span>n</span>
        </div>
      </div>
    </a>
  </div>
</div>
