<div class="container">
  <div class="wrapper">
    <p class="headline">Frontend</p>
    <p class="headline">Developer</p>
    <div class="subtitle">
      <div class="horizontal-line"></div>
      <span class="my-name">Lukas Erdmanski</span>
    </div>
    <button class="btn btn-black mobile-btn">Send a message</button>
  </div>
  <div class="socials">
    <div class="email">
      <a href="#contact">lukas.erdmanski&#64;yahoo.com</a>
    </div>
    <a href="#aboutMe" class="call2action">
      <div class="img-container">
        <img src="assets/img/arrow.svg" alt="arrow" />
      </div>
      <div class="text-container">
        <div>
          <span>S</span>
          <span>c</span>
          <span>r</span>
          <span>o</span>
          <span>l</span>
          <span>l</span>
        </div>
        <div>
          <span>D</span>
          <span>o</span>
          <span>w</span>
          <span>n</span>
        </div>
      </div>
    </a>
  </div>
</div>
