<form class="contactForm">
  <div class="inputBox">
    <input type="text" name="name" />
    <!-- TODO: trasnlate -->
    <span>Your Name</span>
  </div>
  <div class="inputBox">
    <input type="email" name="email" />
    <!-- TODO: trasnlate -->
    <span>Your Name</span>
  </div>
  <div class="inputBox">
    <textarea type="text" name="message"></textarea>
    <!-- TODO: trasnlate -->
    <span>Your Name</span>
  </div>
  <!-- TODO: translate -->
  <button class="btn btn-white">Send</button>
</form>
