<div class="container">
  <a href="#">
    <!-- TODO: change finally against my logo -->
    <img class="logo" src="assets/img/socials/github.svg" alt="logo" />
  </a>
  <div *ngIf="navMenuService.isMenuOpen()" [@openClose] class="lang-container">
    <span class="lang de" (click)="changeLanguage('de')">DE</span>
    <span class="lang en" (click)="changeLanguage('en')">EN</span>
  </div>
  <button #hamBtn class="hamBtn" (click)="openNavbar()">
    <svg
      width="44"
      height="38"
      viewBox="0 0 44 38"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M2 2H42"
        stroke="black"
        stroke-width="4"
        stroke-linecap="square"
      />
      <path
        d="M2 19H42"
        stroke="black"
        stroke-width="4"
        stroke-linecap="square"
      />
      <path
        d="M2 36H42"
        stroke="black"
        stroke-width="4"
        stroke-linecap="square"
      />
    </svg>
  </button>
</div>
