@import "src/assets/styles/_vars";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-side;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $background_clr;

  // TODO: delete late, only for testing
  background-color: blanchedalmond;

  .lang-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .lang {
      font-family: $secondary_font;
      font-weight: $fw-black;
      cursor: pointer;
    }

    .checked {
      text-shadow: 2px 2px 2px $secondary_clr;
    }

    @media (max-width: 350px) {
      flex-direction: column;
    }
  }

  .hamBtn {
    background-color: $background_clr;
    border: none;
    cursor: pointer;
  }
}
