@import "src/modules/utilities/_vars";

// TODO: Check later if is required for scroll spy or to delete.
.navBar2 {
  position: fixed;
  background-color: darkgray;
  z-index: 1;
}

// TODO: Check later if is required for scroll spy or to delete.
.sections-container {
  display: inline;
}

section {
  min-height: 100%;
  width: 100%;
  padding: $padding-side;
}

// last section: contact component has no padding to expand totally background and width
section:last-child {
  padding: 0;
}
