<form
  #contactForm
  class="contactForm"
  [formGroup]="contactFormGroup"
  (submit)="sendEmail()"
>
  <!-- NAME -->
  <div class="inputBox">
    <input
      #formName
      type="text"
      name="name"
      spellcheck="false"
      [class.invalid-filled-input]="
        formName.value.length > 0 && !contactFormGroup.controls['name'].valid
      "
      formControlName="name"
      [class.disabledHover]="isFormDisabled"
    />
    <span [class.disabledHover]="isFormDisabled" translate>Your name</span>
    <ng-container
      *ngIf="
        contactFormGroup.controls['name'].dirty ||
        contactFormGroup.controls['name'].touched
      "
    >
      <div *ngIf="contactFormGroup.controls['name'].errors?.['required']">
        <p class="error" [class.disabledHover]="isFormDisabled" translate>
          The name is not valid. Please enter your name, at least one character
          long.
        </p>
      </div>
    </ng-container>
  </div>

  <!-- E-MAIL -->
  <div class="inputBox" [class.disabled-overlay]="isFormDisabled">
    <input
      #formEmail
      type="email"
      name="email"
      spellcheck="false"
      formControlName="email"
      [class.invalid-filled-input]="
        formEmail.value.length > 0 && !contactFormGroup.controls['email'].valid
      "
      [class.disabledHover]="isFormDisabled"
      [class.disabled-overlay]="isFormDisabled"
    />
    <span [class.disabledHover]="isFormDisabled" translate>Your email</span>
    <ng-container
      *ngIf="
        contactFormGroup.controls['email'].dirty ||
        contactFormGroup.controls['email'].touched
      "
    >
      <div *ngIf="contactFormGroup.controls['email'].errors">
        <p class="error" translate="">
          The e-mail address is not valid. Please enter your valid e-mail
          address.
        </p>
      </div>
    </ng-container>
  </div>

  <!-- MESSAGE -->
  <div class="inputBox inputBox-with-textarea">
    <textarea
      #formMessage
      type="text"
      name="message"
      spellcheck="false"
      formControlName="message"
      [class.invalid-filled-input]="
        formMessage.value.length > 0 &&
        !contactFormGroup.controls['message'].valid
      "
      [class.disabledHover]="isFormDisabled"
    ></textarea>
    <span [class.disabledHover]="isFormDisabled" translate>Your message</span>
    <ng-container
      *ngIf="
        contactFormGroup.controls['message'].dirty ||
        contactFormGroup.controls['message'].touched
      "
    >
      <div *ngIf="contactFormGroup.controls['message'].errors?.['required']">
        <p class="error" translate>
          The message is not valid. Please enter your valid message, at least
          one character long.
        </p>
      </div>
    </ng-container>
  </div>

  <!-- TODO: translate to german -->
  <!-- TODO: design the checkbox with text -->
  <div>
    <input type="checkbox" />
    <span translate
      >I've read the privacy policy and agree to the processing of my data as
      outlined.</span
    >
  </div>

  <button
    #formButton
    type="submit"
    class="btn btn-white"
    [disabled]="
      !(
        contactFormGroup.valid &&
        (contactFormGroup.dirty || contactFormGroup.touched)
      )
    "
    translate
  >
    Send
  </button>
</form>
