<div class="container" id="contact">
  <div class="header">
    <h1 class="white" data-text="Say Hi!" translate>Say Hi!</h1>
  </div>

  <div class="contact-container">
    <!-- TODO: translate -->
    <h2>How do you like your coffee?</h2>
    <!-- TODO: translate -->
    <span>Let's meet up and make your ideas happen</span>

    <div>
      <div>
        <input type="text" placeholder="Your name" />
        <input type="email" placeholder="Your email" />
        <input type="text" placeholder="Your message" />
      </div>
      <button class="btn btn-black">Send</button>
    </div>

    <div class="arrow-up">
      <span class="arrow"></span>
    </div>
  </div>
</div>
