<div class="container" id="mySkills">
  <div class="wrapper">
    <!-- TODO: translate -->
    <h1 data-text="My skills">My skills</h1>
    <div class="skill-container">
      <div class="skill">
        <img src="assets/img/skills/angular.svg" alt="angular" />
        <span>Angular</span>
      </div>
      <div class="skill">
        <img src="assets/img/skills/angular.svg" alt="angular" />
        <span>Angular</span>
      </div>
      <div class="skill">
        <img src="assets/img/skills/angular.svg" alt="angular" />
        <span>Angular</span>
      </div>
      <div class="skill">
        <img src="assets/img/skills/angular.svg" alt="angular" />
        <span>Angular</span>
      </div>
      <div class="skill">
        <img src="assets/img/skills/angular.svg" alt="angular" />
        <span>Angular</span>
      </div>
      <div class="skill">
        <img src="assets/img/skills/angular.svg" alt="angular" />
        <span>Angular</span>
      </div>
      <div class="skill">
        <img src="assets/img/skills/angular.svg" alt="angular" />
        <span>Angular</span>
      </div>
      <div class="skill">
        <img src="assets/img/skills/angular.svg" alt="angular" />
        <span>Angular</span>
      </div>
      <div class="skill">
        <img src="assets/img/skills/angular.svg" alt="angular" />
        <span>Angular</span>
      </div>
      <div class="skill">
        <img src="assets/img/skills/angular.svg" alt="angular" />
        <span>Angular</span>
      </div>
    </div>
  </div>
</div>
