<div class="container" id="portfolio">
  <!-- header -->
  <div class="header">
    <div class="header-wrapper">
      <h1>Portfolio</h1>
      <span translate
        >This page is a sample of my work - please feel free to try out.</span
      >
    </div>
  </div>

  <!-- project -->
  <div
    *ngFor="let project of projects; let i = index; let even = even"
    class="project"
    [style.flexDirection]="even ? 'row' : 'row-reverse'"
    (mouseenter)="changeMouseState('hover', i)"
    (mouseleave)="changeMouseState('rest', i)"
  >
    <!-- triggers angular animation defined as 'colorUp' according to / after change of the project state value -->
    <div
      [@colorUp]="project.state"
      class="number"
      [style]="even ? 'right:0' : 'left:0'"
    >
      0{{ i + 1 }} / 0{{ projects.length }}
    </div>
    <div class="img-wrapper">
      <img
        class="project-img"
        src="assets/img/{{ project.img }}"
        alt="{{ project }} view"
        [@grayscale]="project.state"
      />
      <div class="frame-wrapper">
        <div
          class="frame"
          [style]="even ? 'left: 10px' : 'right: 10px'"
          [@frame]="project.state"
        ></div>
        <a href="{{ project.link }}" target="_blank" class="anchor">
          <div class="circle-black">
            <img
              #arrow
              src="assets/img/circle-with-arrow.svg"
              alt="cirle with arrow"
              class="circle-img"
              [style]="positionArrow(even)"
              [@circle]="project.state"
            />
          </div>
        </a>
      </div>
    </div>

    <!-- left fading text container -->
    <div
      *ngIf="even"
      class="text-container"
      [style.alignItems]="even ? 'flex-start' : 'flex-end'"
      [@text-left]="project.state"
    >
      <h2>{{ project.name }}</h2>
      <div class="techs">
        <span *ngFor="let tech of project.techs; let i = index"
          ><span *ngIf="i > 0"> | </span>{{ tech }}</span
        >
      </div>
      <!-- TODO: translate -->
      <span class="descripition">
        {{ project.text.en }}
      </span>
      <div class="btn-container">
        <a href="{{ project.github }}" target="_blank" class="btn btn-black">
          Github
        </a>
      </div>
    </div>

    <!-- right fading text container -->
    <div
      *ngIf="!even"
      class="text-container"
      [style.alignItems]="even ? 'flex-start' : 'flex-end'"
      [@text-right]="project.state"
    >
      <h2>{{ project.name }}</h2>
      <div class="techs">
        <span *ngFor="let tech of project.techs; let i = index"
          ><span *ngIf="i > 0"> | </span>{{ tech }}</span
        >
      </div>
      <!-- TODO: translate -->
      <span class="descripition">
        {{ project.text.en }}
      </span>
      <div class="btn-container">
        <a href="{{ project.github }}" target="_blank" class="btn btn-black">
          Github
        </a>
      </div>
    </div>
  </div>
</div>
