@import "src/modules/utilities/_button";
@import "src/modules/utilities/_vars";
@import "src/assets/fonts/_typography";

.container {
  // background-color: ghostwhite;
  // border: 2px solid red;

  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 110px 0;
  overflow: hidden;

  .header {
    background-color: bisque;
    border: 2px solid red;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-wrapper {
      // background-color: palevioletred;
      // border: 2px solid blue;

      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        text-align: center;
      }
    }
  }

  .project {
    // background-color: lightgrey;
    // border: 4px solid blue;

    display: flex;
    gap: 5vw;
    margin: 100px 0;
    position: relative;

    .number {
      position: absolute;
      top: -2.5vh;
      font-family: $secondary_font;
      font-weight: $fw-black;
      font-size: $fs-headline2;

      // TODO: change dynamicly left, right property; depands if project container is even number (right site) or not (left site)
      right: 0px;
      // left: 0px;
    }

    .anchor {
      height: 100%;
      width: fit-content;
      display: flex;
      justify-content: flex-end;
    }

    .img-wrapper {
      $imgWidth: 490px;
      height: 100%;
      width: fit-content;
      position: relative;
      z-index: 2;

      .project-img {
        width: $imgWidth;
        aspect-ratio: 4/3;

        // object-fit: cover;
        object-fit: fill;

        box-shadow: $boxshadow;
      }

      .frame-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: $imgWidth;
        aspect-ratio: 4 / 3;

        .frame {
          position: absolute;
          top: 10px;
          height: 100%;
          width: 100%;
          border: $frame;

          // TODO: change dynamicly left, right property; depands if project container is even number (right site) or not (left site)
          // left: 10px;
          // right: 10px;
        }

        .circle-black {
          background-color: chartreuse;

          $size: 70px;

          .circle-img {
            height: $size;
            width: $size;
            position: absolute;
            top: calc(50% + 10px - ($size/2));
            z-index: 1;

            // TODO: change dynamicly left, right property; depands if project container is even number (right site) or not (left site)
            right: -45px;
            // transform: rotate(270deg);
            // left: -45px;
          }
        }
      }
    }

    .text-container {
      background-color: blanchedalmond;
      border: 2px solid red;

      width: 50%;
      height: auto;
      display: flex;
      flex-direction: column;

      align-items: flex-start;

      // TODO: change dynamicly left, right property; depands if project container is even number (right site) or not (left site)
      align-items: flex-start;
      // align-items: end;

      justify-content: flex-end;
      padding-bottom: 5vh;
      gap: 15px;
      z-index: 1;

      h2 {
        font-family: $secondary_font;
        font-weight: $fw-black;
        font-size: $fs-headline2;
      }

      span {
        text-align: justify;
      }

      .techs {
        color: $secondary_clr;
        font-size: $fs-md;
      }

      .descripition {
        font-size: $fs-sm;
        text-align: justify;
      }
    }
  }
}
