<div class="container">
  <div class="header">
    <div class="header-wrapper">
      <h1></h1>
      <span translate
        >This page is a sample of my work - please feel free to try out.</span
      >
    </div>
  </div>
  <div
    *ngFor="let project of projects; let i = index; let even = even"
    class="project"
    [style.flexDirection]="even ? 'row' : 'row-reverse'"
  >
    <div class="number" [style]="even ? 'right:0' : 'left:0'">
      0{{ i + 1 }} / 04
    </div>
    <div class="img-wrapper">
      <img
        class="project-img"
        src="assets/img/{{ project.img }}"
        alt="{{ project }} view"
      />
      <div class="frame-wrapper">
        <div class="frame" [style]="even ? 'left: 10px' : 'right: 10px'"></div>
        <a href="{{ project.link }}" target="_blank" class="anchor">
          <div class="circle-black">
            <img
              src="assets/img/circle-with-arrow.svg"
              alt="cirle with arrow"
              class="circle-img"
              [style]="
                even ? 'right:-45px ' : 'left:-45px; transform: rotate(270deg)'
              "
            />
          </div>
        </a>
      </div>
    </div>
    <div
      class="text-container"
      [style.alignItems]="even ? 'flex-start' : 'flex-end'"
    >
      <h2>{{ project.name }}</h2>
      <div class="techs">
        <span *ngFor="let tech of project.techs; let i = index"
          ><span *ngIf="i > 0"> | </span>{{ tech }}</span
        >
      </div>
      <!-- TODO: translate -->
      <span class="descripition">
        {{ project.text.en }}
      </span>
      <div class="btn-container">
        <a href="{{ project.github }}" target="_blank" class="btn btn-black">
          Github
        </a>
      </div>
    </div>
  </div>
</div>
