@import "src/assets/styles/_variables";

:host {
  display: block;
  background-color: $background_clr;

  // height: 100%;
  // overflow: scroll;
}

.landscape-orientation {
  display: none;
}

.portrait-orientation {
  display: inline;
}

@media (max-height: 576px) and (orientation: landscape) {
  .landscape-orientation {
    display: inline;
  }

  .portrait-orientation {
    display: none;
  }
}

.hidden {
  border: 30px solid red;
  background: white !important;
  opacity: 0 !important;

  // background-color: yellowgreen !important;
}

header {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  .header-wrapper {
    position: relative;

    app-header {
      position: sticky;
      top: 0;
      width: 100%;
      z-index: 1;
      //  Prevents text selection on modern browsers
      touch-action: manipulation;
    }
  }
}

.header-navmenu-open {
  position: relative;

  .header-wrapper {
    app-header {
      position: fixed;
      left: 0;
      right: 0;
    }

    nav {
      position: fixed;
      top: constant(safe-area-inset-top);
      top: env(safe-area-inset-top);
      left: constant(safe-area-inset-left);
      left: env(safe-area-inset-left);
      right: constant(safe-area-inset-right);
      right: env(safe-area-inset-right);
      bottom: constant(safe-area-inset-bottom);
      bottom: env(safe-area-inset-bottom);
      box-sizing: border-box;
    }
  }
}

footer {
  background-color: $primary_clr;
  padding: $padding-side;
  padding-bottom: 110px;
}

// Make the background of the main element dark and its children when nav menu is open.
.dark-scroll-background {
  background-color: $primary_clr;

  ::ng-deep > * {
    background-color: $primary_clr;
    * {
      opacity: 0;
    }
  }
}
