@import "src/modules/utilities/_vars";

// TODO: delete late, temporally to mark navigation and footer bar
.nav {
  background-color: darkcyan;
}

footer {
  background-color: $primary_clr;
  padding: $padding-side;
  padding-bottom: 110px;
}
