@import "assets/styles/variables";
@import "assets/styles/buttons";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

body {
  font-family: $primary_font, sans-serif;
  font-size: $fs-regular;
  background-color: $primary_clr;
}

@media (max-width: 630px) {
  body {
    font-size: $fs-sm !important;
  }
}

.body-namvmenu-open {
  /* Height of the body should be 100 vh */
  height: 100vh !important;
  /* Margin at the body has to be like in the user agent style sheet, it means; 8px. Otherwise it does not work.  */
  margin: revert !important;
}

h1 {
  font-family: $secondary_font;
  font-weight: $fw-black;
  font-size: $fs-headline1;
  color: $primary_clr;
  width: fit-content;
  margin-bottom: 5vh;
  cursor: default;
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-shadow: 0 0 $primary_clr;
  transition: all 500ms ease-in-out;

  &:hover {
    color: $primary_clr;
    text-shadow: $ts-offset calc($ts-offset/2) $secondary_clr;
  }
}

.white {
  color: $background_clr;

  &:hover {
    color: $background_clr;
    text-shadow: $ts-offset calc($ts-offset/2) $secondary_clr;
  }
}

.logo-container {
  display: flex;
  transition: all 125ms ease-in-out;

  &:hover {
    filter: drop-shadow(2px 2px 1px #ff9900);
    transform: scale(1.1);
  }
}

.logo {
  width: 142px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  img {
    object-fit: contain;
    width: 100%;
  }

  @media (max-width: 400px) {
    width: 100px;
  }
}
