<div class="navmenu">
  <div [@openClose] class="navlink-container">
    <div class="navlink">
      <div (click)="navMenuService.moveToSection('about-me')" translate>
        About me
      </div>
    </div>
    <div class="navlink">
      <div (click)="navMenuService.moveToSection('skills')" translate>
        My skills
      </div>
    </div>
    <div class="navlink">
      <div (click)="navMenuService.moveToSection('portfolio')" translate>
        Portfolio
      </div>
    </div>
  </div>

  <footer [@openCloseFooter] class="footer-nav">
    <div class="content">
      <div class="left-side">
        <h1
          (click)="navMenuService.moveToSection('contact')"
          class="white"
          translate
        >
          Say Hi!
        </h1>
        <span (click)="navMenuService.moveToSection('contact')"
          >lukas.erdmanski&#64;yahoo.com</span
        >
      </div>

      <div class="right-side">
        <app-socials> </app-socials>
      </div>
    </div>
  </footer>
</div>
