<div class="navmenu">
  <div class="navlink-container">
    <div class="navlink">
      <!-- TODO: translate -->
      <div>About me</div>
    </div>
    <div class="navlink">
      <!-- TODO: translate -->
      <div>My skills</div>
    </div>
    <div class="navlink">
      <!-- TODO: translate -->
      <div>Portfolio</div>
    </div>
  </div>

  <footer class="footer-nav">
    <div class="content">
      <div class="left-side">
        <!-- TODO: translate -->
        <h1 class="white">Say Hi!</h1>
        <span>lukas.erdmanski&#64;yahoo.com</span>
      </div>

      <div class="right-side">
        <app-socials> </app-socials>
      </div>
    </div>
  </footer>
</div>
